/* 基本样式 */
body, html {
    margin: 0;
    padding: 0;
    height: 150%;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 页面基础布局 */
.page {
    display: none;
    width: 90%;
    height: 400vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-space {
    height: 300px; /* 空白区域的高度，你可以根据需要调整 */
}

.page-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-2 {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px; /* 翻页按钮与空白区域之间的距离 */
}

.instruction {
    font-size: 20px;
    color: red;
    margin-right: 10px;
}

.instruction-text {
    margin-right: 10px;
}

.page-btn {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 加载动画 */
.loading-animation {
    border: 4px solid transparent;
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

/* 鬼图样式 */
.ghost-image {
    display: none;
    width: 737px;
    height: 856px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* 加载动画旋转效果 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

